@import "../../style/colors.scss";
@import "../../style/alignments.scss";
@import "../../style/font-sizes.scss";
@import "../../style/paddings.scss";
@import "../../style/margins.scss";

.container {
    @include flex-aligned(center, center);

    display: flex;
    flex: 1 1;
    flex-basis: 0px;
    flex-direction: row;
    flex-wrap: wrap;

    a {
        text-decoration: none;
    }
}

.card {
    @include bg-colored($of-grey3);
    @include flex-aligned(center, center);
    @include font-sized(xl);
    @include marged(all, xl);
    @include padded(all, l);

    cursor: pointer;
    flex: 1;
    height: 200px;
    width: 200px;
    opacity: 0.8;
    transition: 0.5s;
}

.blue {
    @extend .card;
    &:hover {
        @include bg-rgba-colored($of-blue, 0.5);
        opacity: 1;
    }
}

.cyan {
    @extend .card;
    &:hover {
        @include bg-rgba-colored($of-cyan, 0.5);
        opacity: 1;
    }
}

.green {
    @extend .card;
    &:hover {
        @include bg-rgba-colored($of-green, 0.5);
        opacity: 1;
    }
}

.orange {
    @extend .card;
    &:hover {
        @include bg-rgba-colored($of-orange, 0.5);
        opacity: 1;
    }
}

.yellow {
    @extend .card;
    &:hover {
        @include bg-rgba-colored($of-yellow, 0.5);
        opacity: 1;
    }
}

.pink {
    @extend .card;
    &:hover {
        @include bg-rgba-colored($of-pink, 0.5);
        opacity: 1;
    }
}
