@import "style/alignments.scss";
@import "style/colors.scss";
@import "style/font-sizes.scss";
@import "style/margins.scss";
@import "style/paddings.scss";

.table {
    @include aligned(left);
    @include font-colored($of-white);
    @include marged(all, s);

    border-spacing: 0;
    flex: 1;

    thead {
        @include font-colored($of-black);

        font-weight: bold;

        th:first-child {
            border-top-left-radius: 4px;
        }
        th:last-child {
            border-top-right-radius: 4px;
        }
        th .column {
            @include padded(top, m);
            @include padded(right, none);
            @include padded(bottom, m);
            @include padded(left, l);
            @include marged(all, none);

            display: flex;
            align-items: center;

            .sortable {
                @include padded(all, none);
                @include marged(all, none);

                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    tbody {
        td {
            @include padded(right, l);
            @include padded(left, l);
        }

        tr:nth-child(even) {
            @include bg-colored($of-grey4);
        }

        tr:nth-child(odd) {
            @include bg-colored($of-grey5);
        }

        .checked {
            @include bg-rgba-colored($of-grey3, 0.5);
        }

        tr:hover {
            @include bg-rgba-colored($of-white, 0.01);
        }
    }
}

.orange-bg {
    @include bg-rgba-colored($of-orange, 0.6);
}

.cyan-bg {
    @include bg-rgba-colored($of-cyan, 0.6);
}

.green-bg {
    @include bg-rgba-colored($of-green, 0.6);
}

.pink-bg {
    @include bg-rgba-colored($of-pink, 0.6);
}

.yellow-bg {
    @include bg-rgba-colored($of-yellow, 0.6);
}

.notFound {
    @include aligned(center);
    @include marged(all, m);
}

.discount {
    @include font-colored($of-green);
}
