.menu-container {
    align-items: center;
    background-color: rgba(0,0,0,0.6);
    border-bottom: 1px solid black;
    color: white;
    display: block;
    justify-content: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;

    &--regular {
        @extend .menu-container;
        padding: 0 $sidebar-width;
    }

    &--mobile {
        @extend .menu-container;
        padding: 10px;
    }

    .buttons-container {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        width: 100%;
    }

    .button {
        cursor: pointer;
        font-size: font-sizes(l);
        flex: 1;
        height: 100%;
        transition: all 0.3s ease-in-out;

        &--regular {
            @extend .button;
            padding: 20px;
            text-align: center;
        }

        &:hover {
            background-color: rgba(255,255,255,0.1);
        }

        &__selected {
            background-color: rgba(255,255,255,0.2);
        }
    }
}

.drawer-container {
    font-size: 20px;
    color: $of-white;
    padding: 10px;
    
    .button {
        padding: 10px 0;
    }
}