// z-indexes
$z-index-top-max: 9999;

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.vertical-align-center {
    display: flex;
    align-items: center;
 }

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.bold {
    font-weight: bold;
}

.small-caps {
    font-variant: small-caps;
}

.flex-grow {
    flex-grow: 1;
}

.min-padding {
    padding: 10px 0;
}

.button {
    &--valid {
        width: 200px;
        margin: 10px !important;
    }
    &--invalid {
        background-color: lighten($of-red, 50%);
    }

}

.fab-bottom {
    bottom: 20px;
    color: $of-beige !important;
    position: fixed !important;
};

.invisible {
    visibility: hidden;
}

.clickable {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}