@import "style/variables.scss";

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    color: inherit;
    cursor: pointer;
}

.align-center {
    justify-content: center;
    text-align: center;
}

.align-right {
    justify-content: flex-end;
    text-align: right;
}

.align-left {
    justify-content: flex-start;
    text-align: left;
}

.bold {
    font-weight: bold;
}

.small-caps {
    font-variant: small-caps;
}

.flex-grow {
    flex-grow: 1;
}

.button {
    &--valid {
        width: 200px;
        margin: 10px !important;
    }
    &--invalid {
        background-color: lighten($of-red, 50%);
    }
}

.fab-bottom {
    bottom: 20px;
    color: $of-beige !important;
    position: fixed !important;
    z-index: $z-index-top-max;
}

.no-display {
    display: none;
}

.invisible {
    visibility: hidden;
}

.clickable {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}
