@import "style/alignments.scss";
@import "style/colors.scss";
@import "style/font-sizes.scss";
@import "style/paddings.scss";
@import "style/margins.scss";

.card {
    @include marged(all, s);
    @include flex-aligned(center, center);

    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    flex-direction: column;
    min-height: 100px;
    min-width: 300px;
    opacity: 0.8;
    transition: 0.5s;

    &:hover {
        box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.2);
        opacity: 1;
    }

    .content {
        @include padded(all, l);
        box-sizing: border-box;
    }

    .title {
        @include font-sized(xl);
        @include marged(all, none);
        @include padded(all, none);

        font-weight: bold;
    }

    .subtitle {
        @include font-sized(l);
        @include marged(all, none);
        @include padded(all, none);
    }
}

.wideCard {
    @extend .card;

    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    cursor: default;
    opacity: 1;
}

.cyan {
    @include bg-rgba-colored($of-cyan, 0.6);
    &:hover {
        @include bg-rgba-colored($of-cyan, 0.6);
    }
}

.green {
    @include bg-rgba-colored($of-green, 0.6);
    &:hover {
        @include bg-rgba-colored($of-green, 0.6);
    }
}

.yellow {
    @include bg-rgba-colored($of-yellow, 0.6);
    &:hover {
        @include bg-rgba-colored($of-yellow, 0.6);
    }
}

.pink {
    @include bg-rgba-colored($of-pink, 0.6);
    &:hover {
        @include bg-rgba-colored($of-pink, 0.6);
    }
}

.footer {
    width: 100%;
}