@import "../../../style/colors.scss";
@value card from './components/purchase_card.module.scss';

.purchaseFormHeader {
    display: flex;
    width: 100%;

    & > * {
        flex: 1;
        padding: 0 20px;
    }      
}

.purchaseCardContainer {
    display: flex;
    width: 100%;

    &Mobile {
        @extend .purchaseCardContainer;
        flex-direction: column;
    }
    &Desktop {
        @extend .purchaseCardContainer;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card:nth-child(even) {
        @include bg-colored($of-grey4);
    }
    .card:nth-child(odd) {
        @include bg-colored($of-grey5);
    }
}
