@import "style/alignments.scss";
@import "style/colors.scss";
@import "style/font-sizes.scss";
@import "style/globals.scss";
@import "style/margins.scss";
@import "style/paddings.scss";

.table {
    @include font-colored($of-white);
    @include aligned(left);

    border: 1px solid $of-grey3;
    border-spacing: 0;
    width: 100%;

    thead {
        @include font-colored($of-black);

        font-weight: bold;

        th {
            padding: 10px 20px;
        }
    }

    tbody {
        td {
            padding: 5px 10px;
        }

        tr:nth-child(even) {
            @include bg-colored($of-grey4);
        }
        tr:nth-child(odd) {
            @include bg-colored($of-grey5);
        }

        .checked {
            @include bg-rgba-colored($of-grey3, 0.5);
        }

        tr:hover {
            @include bg-rgba-colored($of-white, 0.01);
        }
    }
}

.green-bg {
    @include bg-colored($of-green);
}

.pink-bg {
    @include bg-colored($of-pink);
}

.yellow-bg {
    @include bg-colored($of-yellow);
}

.cyan-bg {
    @include bg-colored($of-cyan);
}

.notFound {
    @include aligned(center);
    @include marged(all, m);
}