.table {
    border: 1px solid $of-grey3;
    border-spacing: 0;
    color: #FFFFFF;
    text-align: left;
    width: 100%;

    thead {
        // background-color: #62c462;
        background-color: $of-grey3;
        color: black;
        font-weight: bold;

        th {
            padding: 10px 20px;
        }
    }

    tbody {
        td {
            padding: 5px 10px;
        }
     
        tr:nth-child(even) {
            background-color: $of-grey4;
        }
        tr:nth-child(odd) {
            background-color: $of-grey5;
        }

        .checked {
            background-color: rgba($of-grey3, 0.5) !important;
        }

        tr:hover {
            background-color: rgba(255,255,255,0.01);
        }
    }

}