.dropdown--select {
    background-color: white;
    border: none;
    cursor: pointer;
    margin: 2px 5px;
    padding: 5px 10px;
    width: 220px;
}

.dropdown--option {
    padding: 10px;
}