@import "style/colors.scss";
@import "style/columns.scss";
@import "style/font-sizes.scss";
@import "style/margins.scss";
@import "style/paddings.scss";
@import "style/globals.scss";

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #272b30;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.index-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;

    &--regular {
        @extend .index-container;
        padding: 20px calc(#{$sidebar-width} + 20px) 80px calc(#{$sidebar-width} + 20px);
    }

    &--mobile {
        @extend .index-container;
        padding: 20px;
    }
}

@media screen and (max-width: 992px) {
    .index-container {
        width: 100vw;
    }
}
