@import "style/alignments.scss";
@import "style/colors.scss";
@import "style/font-sizes.scss";
@import "style/paddings.scss";
@import "style/variables.scss";

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cardElementContainer {
    display: flex;
    margin-bottom: 10px;
}

.cardElement {
    flex: 1;
}
.cardElement + .cardElement {
    @include padded(left, m);
}

.promo {
    @include flex-aligned(center, center);
    @include font-colored($of-green);

    flex: 1;
    flex-direction: column;
}

.totalCardFooter {
    @include bg-rgba-colored($of-grey3, 0.6);
    @include font-colored($of-white);
    @include font-sized(m);
    @include padded(all, m);

    box-shadow: inset 0px 2px 0px $of-grey1;
    flex: 0;
}

.totalCardFooterValid {
    @extend .totalCardFooter;
    box-shadow: inset 0px 2px 0px $of-cyan;
}
